VITE_SUPABASE_URL=https://SEU_PROJECT_ID.supabase.co
VITE_SUPABASE_ANON_KEY=SUA_ANON_KEY
DEMO_SEED_KEY=SUA_CHAVE_INTERNA_DO_DEMO
VITE_CLOUDINARY_CLOUD_NAME=SEU_CLOUD_NAME
VITE_CLOUDINARY_UPLOAD_PRESET=flow-events-unsigned
